*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-blue {
    color: #476BF0;
  }
  
  .bg-gray {
    color: #838383;
  }
  @media (max-width: 600px){
    body{
        background-color: red;
    }
  }


.navbar{
    display: flex;
    gap: 5px;
    margin-left: 30%;
    width: 650px;
    height: 50px;
    align-items: center;
    border: 1px solid black;
}
.navigator{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: 50px;
}